.auth-container {
    background: url("https://c1.staticflickr.com/5/4361/36533604031_e0c558f4c9_b.jpg") no-repeat center;
    /* background-image: transparent;  */
    background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-top: 5em;
    padding: 2em;
    border: 3px solid #e5e5e5;
    border-radius: 0.4em;
    box-shadow: 2px 4px 20px rgb(65, 131, 111);  
}

/* .login-col {
    border-left: px solid black;
} */